pipeline/pl_child_ingest_men_wc2026.json
{
	"name": "pl_child_ingest_men_wc2026",
	"properties": {
		"activities": [
			{
				"name": "ACT_CheckLogExists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_log_filestatus",
						"type": "DatasetReference",
						"parameters": {
							"ds_log_filename": {
								"value": "@concat(pipeline().parameters.p_id, '.json')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ACT_IfLogExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ACT_CheckLogExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"ifFalseActivities": [
						{
							"name": "SET_LastETag_Empty",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "lastETag",
								"value": "''"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ACT_ReadLog",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_log_filestatus",
									"type": "DatasetReference",
									"parameters": {
										"ds_log_filename": {
											"value": "@concat(pipeline().parameters.p_id, '.json')",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "SET_LastETag_FromLog",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ACT_ReadLog",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "lastETag",
								"value": {
									"value": "@coalesce(activity('ACT_ReadLog').output?.firstRow?.etag, '')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_id": {
				"type": "string"
			},
			"p_filename": {
				"type": "string"
			},
			"p_category": {
				"type": "string"
			},
			"p_target_folder": {
				"type": "string"
			},
			"p_log_path": {
				"type": "string"
			},
			"p_source_base_url": {
				"type": "string"
			},
			"p_github_api_base": {
				"type": "string"
			},
			"p_adls_base_path": {
				"type": "string"
			}
		},
		"variables": {
			"currentETag": {
				"type": "String"
			},
			"sinkFilePath": {
				"type": "String"
			},
			"lastETag": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pl_fifa_worldcup"
		},
		"annotations": []
	}
}