pipeline/pl_child_ingest_datasets.json
{
	"name": "pl_child_ingest_datasets",
	"properties": {
		"activities": [
			{
				"name": "ACT_GetRawETag",
				"description": "Fetching the Etag of each file to capture changes",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"User-Agent": " datamaieutic-adf"
					},
					"url": {
						"value": "@concat(pipeline().parameters.p_source_base_url,'/',pipeline().parameters.p_filename)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_CurrentETag",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_GetRawETag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentETag",
					"value": {
						"value": "@replace(replace(activity('ACT_GetRawETag').output.ADFWebActivityResponseHeaders.ETag, 'W/', ''), '\"', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_CheckETag",
				"description": "On compare l'ETag normalisé courant (currentETag) à la valeur stockée au dernier run (p_last_sha). not(equals(...)) s'active quand ils diffèrent → fichier modifié → branche True → copie.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SET_CurrentETag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('currentETag'), pipeline().parameters.p_last_etag))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ACT_CopyData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_githubraw_source_files",
									"type": "DatasetReference",
									"parameters": {
										"ds_relative_url": {
											"value": "@concat('/jfjelstul/worldcup/master/data-csv/', pipeline().parameters.p_filename)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_sink_files",
									"type": "DatasetReference",
									"parameters": {
										"ds_folder": {
											"value": "@concat(pipeline().parameters.p_adls_base_path,'/',pipeline().parameters.p_target_folder,'/',formatDateTime(utcNow(),'yyyy-MM-dd'))",
											"type": "Expression"
										},
										"ds_file": {
											"value": "@pipeline().parameters.p_filename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_filename": {
				"type": "string"
			},
			"p_category": {
				"type": "string"
			},
			"p_target_folder": {
				"type": "string"
			},
			"p_last_etag": {
				"type": "string"
			},
			"p_source_base_url": {
				"type": "string"
			},
			"p_github_api_base": {
				"type": "string"
			},
			"p_adls_base_path": {
				"type": "string"
			},
			"p_id": {
				"type": "string"
			},
			"p_log_path": {
				"type": "string"
			}
		},
		"variables": {
			"currentETag": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pl_fifa_worldcup"
		},
		"annotations": []
	}
}